*{
    color: rgb(255, 255, 255);
   font-family: 'Nunito', sans-serif;
}

/* login */
.login-screen{
    margin: 10%
}

.spotify-btn{
    display: inline-block;
    background-color: #1DB954;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 4% 0%;
    border-radius: 50px;
}

.login-screen h2{
    margin: 30% 0 20% 0;
    padding-top: 30%;
    background-image: url("../image/bubbletune_logo.svg");
    background-repeat: no-repeat;
    background-position: center top;
}

.login-screen p{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 2%;
}

.login-screen a{
    display: inline-block;
    width: 100%;
    text-align: center;
}




/* algemeen */
body{
    background-color: #121214;
}
h1{
    margin-left: 7%;
    margin-top: 10%;
    color: #95B5FC;
    margin-bottom: 7%;
}



/*navigatie*/
nav{
    position: fixed;
    bottom: 0px;
    margin-left: -1.7%;
    width: 104%;
    height: 80px;
    overflow-x: auto;
    display: flex;
    z-index: 50;
    background-color: #121214;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.1s ease-in-out;
}

.nav-link:hover{
    color: blue;
}

.link-active{
    color: aqua;
}

.nav-text{
    margin-top: 8px;
}




/*homescreen*/
.radar{
    margin-top: 18%;
    margin-left: 42%;
}

.noot{
    background-color: transparent;
    position: absolute;
    margin-top: 1%;
    margin-left: 1.5%;
    width: 12%;
    z-index: 8;
}

.front{
    height:70px;
    width: 70px;
    background:  #95B5FC;
    position: relative;
    border-radius: 50%;
    animation: up 5s ease-out infinite;
    animation: pulse 5s ease-out infinite;
   
    z-index: 5;
    
    
}
#list{
    margin-left: 0;
}

.inactive{
    margin-top: 35%;
    size: 200%;
}

.list-title{
    text-align: center;
    margin: 5%;
}

.layer5 {
    height: 290px;
    width: 290px;
    background: #95B5FC;
    position: relative;
    border-radius: 50%;
    z-index: -1;
    margin-top: -270px;
    left: -109px;
    opacity: 10%;
}

.layer4 {
    height: 250px;
    width: 250px;
    background: #95B5FC;
    position: relative;
    border-radius: 50%;
    z-index: 0;
    margin-top: -215px;
    left: -89px;
    opacity: 20%;
}

@keyframes pulse{
    0%{ width: 70px; height:70px;}

    50%{ transform: scale(1.2);}

    100%{ width: 70px; height: 70px;}
}

.layer3{
    height:180px;
    width: 180px;
    background:  #95B5FC;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    margin-top: -145px;
    left: -54px;
    opacity: 50%;
}


.layer2{
    height:110px;
    width: 110px;
    background:  #95B5FC;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    margin-top:-90px ;
    margin-left: -19px;
    opacity: 70%;
}


/*onlinespace*/
.link{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    font-size: 22px;
    text-decoration: none;
}

.link-name{
    text-decoration: none;
    justify-content: center;
   margin-left: 28%;
   margin-right: 28%;
}
.switch-btn{
    position: relative;
    display: inline-block;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-top: 15px;
   
    
}

.slider-btn{
    position: absolute;
    cursor: pointer;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #95B5FC;
    transition: .4s;
    border-radius: 34px;
}

.switch-btn input{display: none;}

.slider-btn:before{
   content: "";
   position: absolute;
   margin-top: 5px;
   margin-left: 5px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #afc7f9;
    transition: .4s;
    border-radius: 34px;
    width: 200px;
    height: 50px;
}

.switch-btn input::before{
    position: absolute;
    content:"Bubbles" ;
    left: 20px;
    color: aliceblue;

}

.switch-b input::after{
    right: 20px;
}

input:checked + .slider-btn:before{
    transform: translate(238px);
}

input:checked + .slider-btn:after{
    transform: translate(50px); 
}

.content{
    margin-top: 5%;
    position: absolute;
    z-index: 1;
    background-color: none;
}




/*bubbles users*/

.img-user{
    max-width: 22%;
    margin-left: 8%;
    margin-top: 10%;
    position: relative;
    z-index:22;
    border-radius:50%;
}

.background{
    margin: auto 0 0 0;
    padding-bottom: 80%;
    background-image: url("../image/background.svg");
    background-repeat: no-repeat;
    background-position: center top;
}





/*archive*/
.song-cover{
    max-width: 35%;
    margin: 5%;
}

.box{
    display: flex;
    background-color: #363845;
    border-radius: 15px;
    margin: 6%;
}

h3{
    font-size: 22px;
}

.box h3{
    margin-bottom: 0;
}

.box h4{
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 4%;
}

.box div{
    display: inline-block;
    width: 90%;
}

.box .reaction{
    background-color: #5A5D6F;
    
    border-radius: 10px;
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
}

h5{
   text-align: center;
}

.emoji{
    font-size: 25px;
    margin-left: 6%;
}




/*profile*/

.img{
    height:100px ;
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 10%;
}

.img-profile{
    height: 80px;
    border-radius: 50px;
    margin-left: 7%;
    margin-top: 6%;
}
.user{
    margin-top: -10%;
    margin-left: 25%;
    font-size: 20px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 0;
    margin-top: 3%;
    margin-right: 3%;
}

.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9796a0;
    transition: .4s;
    border-radius: 34px;
}

.switch input{display: none;}

.slider:before{
    position: absolute;
    height: 20px;
    content: "";
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: #FFD4CE;
    transition: 0,4s;
    border-radius: 50px;
}

input:checked + .slider:before{
    transform: translate(30px);
    background-color: rgb(0, 255, 128);
}

.noti{
    margin-left: 3%;
}

.box2{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #363845;
    border-radius: 15px;
    margin: 6%;
}

.logout{
    margin-bottom: 20%;
}

#logout{
    text-decoration: none;
    font-size: 25px;
    margin-left: 3%;
    
}

.triangle{
    border: 15px solid transparent;
    border-left-color:#FFD4CE ;
    border-radius: 5px;
    position: relative;
    margin-top: 1%;
}
.spotify-user{
    
    background-color: #363845;
    border-radius: 15px;
    margin: 6%;
}
.spotify-user .box{
    display: inline;
}
.spotify-user .box h2{
    margin: 0 5%;
}
.spotify-user .box h4{
    margin: 2% 5% 0 5%;
}




/*chat*/
.background-chat{
    height:895px;
    margin-left: -2%;
    margin-top: 10%;
    z-index: -10;
    position: relative;
}
.chat-user{
    height: 60px;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: -15%;
}
.block{
    height: 160px;
    width: 512px;
    background-color: white;
    margin-left: -2%;
    position: absolute;
    z-index: -10;
    margin-top: -2%;
    z-index: 20;
}
.name{
    background-color: #363845;
}
.currentsong{
    height: 35px;
    width: 430px;
    background-color: #95B5FC;
    border-radius: 10px;
    margin-top: 17%;
    position: absolute;
    margin-left: 7.5%;
}

 .text-input{
    display: flex;
    flex-direction: row;
    margin-top: 145%;
    margin-left: 5%;
    z-index: 20;
    position: fixed;
    
   
}
.input1{
    height:40px ;
    width: 80px;
    background-color: white;
    border-radius:20px ;
    color: #5A5D6F;
 
}
.input2{
 
    height: 40px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 5%;
} 




/*message*/
 .interactions{
    width: 100%;
    background-color: white;
    margin-top: 10%;
    padding-bottom: 100px;
    padding-top: 1px;
    border-radius: 50px;
    z-index: 45;
} 

#inter{
    color: #414AF9;
    margin-top: 8%;
    margin-left: 5%;
    
}

.username{
    color: #363845;
    font-size: 22px;
    margin-top: -15%;
    margin-left: 25%;
}

.text{
    color: #363845;
    margin-left: 25%;
    margin-top: -5%;
}

.img-useronline{
    height: 80px;
    margin-left: 5%;
}

#interaction-1{
    border-bottom: solid 2px #95BFFC ;
    padding-bottom: 2%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}